.header__logo,.menu{
  display: inline-block;
}

.header__logo{
  position: relative;
  margin: 63px 0 0 80px;
  background: no-repeat url('img/logo.svg');
  background-size: cover;
  width: 104px;
  height: 39px;
}

.header{
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 92%;
  padding-bottom: 160px;
}

.menu{
  display: flex;
  white-space: nowrap;
  margin-top: 66px;
}

.menu__item{
  position: relative;
  padding: 0 14px;
  font: normal 20px/22px museosanscyrl, arial, helvetica, sans-serif;
  text-decoration: none;
  color: #F8EEE4;
}

.menu__item:last-child{
  margin-right: 114px;
}

.menu__item_active::after{
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity.5s;
}

.menu__item:hover{
  opacity: .5;
}

.menu__item:hover:after,menu__item_active{
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 1;
  width: 100%
}

.body{
  background: no-repeat url('img/mainImg.png');
  background-size: 100%;
}

.info{
  display: flex;
  justify-content: space-between;
}

.main{
  position: relative;
  text-align: center;
  width: 43%;
}

.main__title{
  font: 260px/265px pt_serifbold, arial, helvetica, sans-serif;
  color: #F8EEE4;
  opacity: .4;
  margin: 0;
}

.main__second-title{
  font: 90px/95px pt_serifbold, arial, helvetica, sans-serif;
  color: #F8EEE4;
  padding: 0 0 14px 0;
  margin: -83px 0 0 93px;
}

.main__subtitle{
  margin: auto;
  font: 22px/23px museosanscyrl, arial, helvetica, sans-serif;
  width: 410px;
  color: #F8EEE4;
  padding: 0 0 29px 0;
  text-align: left;
}

.main__button{
  display: inline-block;
  font: 21px/23px museosanscyrl, arial, helvetica, sans-serif;
  color: #fff;
  background: #D4BEA3;
  padding: 12px 62px;
  text-decoration: none;
  border-radius: 48px;
  margin-right: 22%;
}

.main__button:hover{
  opacity: .5;
}

.img{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img__pic1{
  margin-right: 23px;
  width: 270px;
}

.img__pic2{
  width: 245px;
}

.img__pic3{
  margin-left: 23px;
  width: 178px;
}

#menu__toggle {
  opacity: 0;
}

.menu__box{
  position: absolute;
  visibility: hidden;
}

@media(min-width: 1920px){
  .header {
    width: 91%;
    margin-left: 191px;
    padding-bottom: 137px;
  }

  .header__logo{
    margin-top: 80px;
    width: 147px;
    height: 55px;
  }

  .menu__item{
    padding: 0 18px;
    font: 22px/27px museosanscyrl, arial, helvetica, sans-serif;
  }

  .menu{
    margin-top: 92px;
  }

  .main__title{
    font: 280px/371px pt_serifbold, arial, helvetica, sans-serif;
    padding-left: 88px;
  }

  .main__second-title {
    font: 98px/130px pt_serifbold, arial, helvetica, sans-serif;
    margin: -145px 0 0 193px;
  }

  .main__subtitle {
    margin: auto;
    font: 22px/27px museosanscyrl, arial, helvetica, sans-serif;
    width: 551px;
    padding: 5px 0 36px 157px;
    text-align: left;
  }

  .main__button {
    font: 22px/27px museosanscyrl, arial, helvetica, sans-serif;
    padding: 17px 89px;
    border-radius: 48px;
    margin-right: 12%;
  }

  .img{
    padding: 109px 15px;
  }

  .img__pic1{
    width: 318px;
    height: 422px;
    margin-right: 33px;
  }

  .img__pic2{
    width: 285px;
    height: 380px;
  }

  .img__pic3{
    width: 253px;
    height: 380px;
    margin: 0 -66px 0 32px;
  }
}

@media(max-width: 1367px){
  .header {
    width: 96%;
    padding-bottom: 92px;
    padding-left: 133px;
  }

  .header__logo {
    margin-top: 55px;
  }

  .menu{
    margin-top: 67px;
  }

  .menu__item {
    padding: 0 13px;
  }

  .menu__item:last-child {
    margin-right: 139px;
  }

  .main__title{
    padding: 5px 0 0 61px;
  }

  .main__second-title{
    margin: -104px 0 0 135px;
  }

  .main__subtitle {
    margin: auto;
    font: 16px/19px museosanscyrl, arial, helvetica, sans-serif;
    padding: 0 0 25px 117px;
    text-align: left;
  }

  .main__button{
    margin-right: 12%;
  }

  .img{
    padding-top: 68px;
  }

  .img__pic1{
    width: 226px;
    height: 300px;
    margin-right: 23px;
  }

  .img__pic2{
    width: 203px;
    height: 270px;
  }
  .img__pic3{
    width: 181px;
    height: 270px;
    margin: 0 -41px 0 23px;
  }
}

@media(max-width: 1180px){
  .header {
    width: 99%;
    padding-bottom: 90px;
    padding-left: 35px;
  }

  .menu__item {
    font: normal 17px/21px museosanscyrl, arial, helvetica, sans-serif;
    padding: 0px 10px;
  }

  .main__title {
    font: 220px/234px pt_serifbold, arial, helvetica, sans-serif;
  }

  .main__second-title {
    font: 73px/95px pt_serifbold, arial, helvetica, sans-serif;
    margin: -89px 0 0 140px;
  }

  .main__button {
    font: 16px/21px museosanscyrl, arial, helvetica, sans-serif;
  }

  .img__pic1 {
    width: 212px;
    height: auto;
    margin-right: 21px;
  }

  .img__pic2 {
    width: 195px;
    height: auto;
  }

  .img__pic3 {
      width: 140px;
      height: auto;
      margin: 0 -36px 0 21px;
  }
}

@media(max-width: 1095px){
  .main__title {
    font: 210px/220px pt_serifbold, arial, helvetica, sans-serif;
  }

  .main__second-title {
    font: 70px/93px pt_serifbold, arial, helvetica, sans-serif;
    margin: -87px 0 0 135px;
  }

  .main__subtitle {
    font: 16px/19px museosanscyrl, arial, helvetica, sans-serif;
    padding: 0 0 25px 78px;
    text-align: left;
    width: 375px;
  }
}

@media(max-width: 1030px){
  .body {
    background-size: auto;
  }

  .img{
    padding-left: 70px;
  }

 .header {
   width: 112%;
   padding-bottom: 94px;
   padding-left: 0;
  }

 .header__logo{
   margin: 55px 0 0 33px;
  }

 .menu{
   margin-top: 67px;
  }

 .main__title {
  padding: 5px 0 0 8px;
  }

 .main__second-title {
    margin: -103px 0 0 82px;
  }

  .main__subtitle{
    padding: 0 0 25px 49px;
  }

  .main__button {
    margin-right: 29%;
  }
}

@media(max-width: 776px) {
  .body{
    background: no-repeat url('img/mainImg.png');
    background-size: cover;
  }

  .menu{
    display: none;
  }

  .header__logo {
    margin: 34px 0 0 3px;
  }

  .header {
      width: 108%;
      padding: 53px 0 0 86px;
      margin-bottom: 15%;
  }

  .main {
      position: relative;
      text-align: center;
      width: 100%;
      margin-left: 37%;
  }

  .main__title {
    font: 200px/226px pt_serifbold, arial, helvetica, sans-serif;
  }

  .main__second-title {
    font: 73px/80px pt_serifbold, arial, helvetica, sans-serif;
    margin: -78px 0 22px 67px;
  }

  .main__subtitle {
    font: 20px/22px museosanscyrl, arial, helvetica, sans-serif;
    text-align: center;
    width: 324px;
    padding: 0 0 36px 24px;
  }

  .main__button {
    margin-bottom: 155%;
    margin-right: 0;
  }

  .img{
    visibility: hidden;
  }

  .menu__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 53px;
    width: 23px;
    height: 23px;
    cursor: pointer;
    z-index: 3;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #FCF5ED;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    width: 47%;
    height: 100%;
    margin: 0;
    padding: 175px 0;
    list-style: none;
    text-align: center;
    background-color: #E5E5E5;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 1;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font: bold 30px/36px museosanscyrl, sans-serif;
    text-decoration: none;
  }

  .menu__item:hover {
    background-color: #172F27;
  }

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  }

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
  }

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  }

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
  }
}

@media(max-width: 376px) {
  .menu{
    display: none;
  }

  .body{
    background: no-repeat url('img/mainMobile.png');
    background-size: 100%;
  }

  .header__logo {
    margin: 34px 0 0 3px;
  }

  .header {
      width: 83%;
      padding-bottom: 53px;
  }

  .main {
      position: relative;
      text-align: center;
      width: 100%;
  }

  .main__title {
    text-align: left;
    padding-left: 8px;
    font: 170px/226px pt_serifbold, arial, helvetica, sans-serif;
  }

  .main__second-title {
    font: 60px/80px pt_serifbold, arial, helvetica, sans-serif;
    margin: -78px 0 22px 67px;
  }

  .main__subtitle {
    margin: auto;
    font: 18px/22px museosanscyrl, arial, helvetica, sans-serif;
    text-align: center;
    width: 293px;
    padding: 0 0 36px 8px;
  }

  .main__button {
      margin: 0;
  }

  .img{
    visibility: hidden;
  }

  .menu__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 53px;
    width: 23px;
    height: 23px;
    cursor: pointer;
    z-index: 3;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #FCF5ED;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    width: 47%;
    height: 100%;
    margin: 0;
    padding: 175px 0;
    list-style: none;
    text-align: center;
    background-color: #E5E5E5;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 1;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font: bold 30px/36px museosanscyrl, sans-serif;
    text-decoration: none;
  }

  .menu__item:hover {
    background-color: #172F27;
  }

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  }

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
  }

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  }

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
  }
}
